@use "../setting/variables" as v;
@use "../mixin/mixin" as m;

.ly_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.bl_headerNav {
  display: flex;
  align-items: center;
  margin: 0 100px;
  padding-top: 30px;
  justify-content: space-between;
}

.bl_headerImg {
  width: 150px;
  height: 70px;
  > a {
    width: 100%;
    height: 100%;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.bl_headerMenu {
  &_items {
    display: flex;
  }
  &_item {
    padding: 0 24px;
    a {
      color: white;
      &:hover {
        color: v.$first;
      }
    }
  }
}
